[user]
    name = Mirko Westermeier
    email = mirko@westermeier.de
    signingkey = 2D1E1938B7DEF58BC4541A1CD8B4F6E3BF62F357
[core]
    editor = vim
[init]
    defaultBranch = main
[log]
    abbrevCommit = true
    date = iso
[column]
    ui = auto
[alias]
    st = status --short --branch
    lg = log --graph --all --pretty=format:'%C(red bold)%h%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset%C(yellow)%d%Creset'
    sw = switch
    aliases = !git config --list | grep alias
[push]
    autoSetupRemote = true
[diff]
    algorithm = histogram
    colorMoved = default
    mnemonicPrefix = true
[gpg]
    program = gpg
[merge]
    conflictstyle = zdiff3
[fetch]
    prune = true
    prunetags = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
